@media only screen
and (min-width : 1224px) {
}
@media print {
    #header {display:none;}
    #footer {display:none;}
}

body {
    background-color:lightsteelblue;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    flex-direction: column;
}
h1 {
    margin-top: 150px;
    color: black;
}

p {
    color: black;
    font-size: 100px;
    margin-top: 5px;
}

body {
    min-height: 150vh;
}
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: lightskyblue;
    color: white;
    animation-name: backdiv;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes backdiv {
    50% {
        background: #ffe6f2;
    }
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a.hover {
    background-color: black;
}

#searchbar {
    text-align: left;
    tmargin-top: 400px;
}
#navbar-another {
    left: 0px;
    margin-top: 100px;
    text-align: right;
    background-color: lightsteelblue;
    color: lightblue;
    animation-name: jump;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


.d1 {
    background: lavenderblush;

}
.d2 {
    background: lightgreen;
}
.d3 {
    background: coral;
}
.container {
    padding: 0.5em;
    color: black;
    margin-left: 300px;
    font-size: 40px;
    min-height: 20px;
    width: 70%;
    background: lightgray;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 20px;
}
footer {
    background-color: black;
    color: whitesmoke;
    padding: 0.5em;
    text-align: right;
}

#submit {
    background-color: coral;
    color: white;
    width: 20px;
}


.a1 i {
    margin-left: unset;
}
.a1 article {
    text-align: left;
    border: 0px solid gray;
    width: 50%;
    color: black;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 30px;
    padding: 0px;
    box-sizing: border-box;
}

.a2 article {
    text-align: left;
    border: 0px solid gray;
    width: 50%;
    color: black;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 30px;
    padding: 0px;
    box-sizing: border-box;
}

.a3 article {
    text-align: left;
    border: 0px solid gray;
    width: 50%;
    color: black;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 30px;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.form-control {
    padding: 0px 0px 20px 0px;
    margin: 20px;
}